$organce: #d86213;
$mobile-width: 480px;
$tablet-width: 768px;
$color-pick: rgba(225, 225, 225, 0.05);


@mixin mobile { @media (max-width: #{$mobile-width - 1px}) {     
    @content;   
   } 
}  
@mixin tablet { @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {       
    @content;   
  } 
 }  


.contact {
    width: 100vw;
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    &-container {
        width: 980px;
        height: fit-content;
        padding-top: 20px;
        padding-bottom: 20px;
        position: relative;
        @include mobile {
            width: 95vw;
            height: fit-content;
            padding-top: 0px;
            padding-bottom: 0px;
            margin-top: 20px;
        }
    }
    &-header {
        h1 {
            user-select: none;
            font-size: 35px;
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 900;
            @include mobile {
                font-size: 26px;
            }
            &::before {
                content: '';
                width: 100%;
                position: absolute;
                height: 10px;
                background-image: linear-gradient(to left, purple, red);
                top: 65px;
                @include mobile {
                    top: 30px;
                    height: 5px;
                }
            }

        }
    }
    &-info {
        width: 980px;
        height: fit-content;
        // background-color: orange;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include mobile {
            width: 95vw;
        }
        &__box {
            width: 980px;
            height: fit-content;
            // background-color: aliceblue;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            @include mobile {
                width: 95vw;
                padding: 20px 20px 0px 20px;
            }
            &__info {
                display: flex;
                font-family: 'Source Sans Pro', sans-serif;
                margin: 5px 0px 5px 0px;
                align-items: center;
                justify-content: center;
                p{
                    font-size: 18px;
                    margin-left: 10px;
                    color: black;
                }
            }
        }
        &__connect {
            width: 980px;
            height: fit-content;
            padding: 15px;
            // background: #ccc;
            display: flex;
            justify-content: space-between;
            @include mobile {
                width: 95vw;
                flex-direction: column;
                // height: 410px;
            }
        }
        &__boxc {
            width: calc(930px/2);
            height: fit-content;
            border-radius: 10px;
            background-image: linear-gradient(to right, rgb(176, 2, 176), $organce);
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            @include mobile {
                width: 87vw;
                margin-top: 30px;
            }
            h3 {
                font-size: 26px;
                margin-bottom: 10px;
                color: white;
                text-shadow: 1px 1px 2px black;
                @include mobile {
                    font-size: 22px;
                }
            }
            p {
                text-align: center;
                font-family: 'Source Sans Pro', sans-serif;
                font-size: 18px;
                color: white;
                @include mobile{
                    width: 80vw;
                    font-size: 14px;
                }
            }
            button {
                padding: 10px 15px 10px 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 20px;
                cursor: pointer;
                border: none;
                outline: none;
                border-radius: 5px;
                font-size: 18px;
                font-family: 'Source Sans Pro', sans-serif;
                transition: 0.3s;
                &:hover {
                    transform: scale(1.03);
                    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
                }
                @include mobile {
                    padding: 5px 12px 5px 12px;
                    font-size: 16px;
                }
            }
        }
        &__other {
            width: 980px;
            height: fit-content;
            padding: 15px;
            @include mobile {
                width: 95vw;
            }
            &__detail {
                width: 100%;
                background-image: linear-gradient(to right, rgb(176, 2, 176), $organce, rgb(176, 2, 176));
                border-radius: 10px;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                padding: 10px;
            }
            &__text {
                @include mobile {
                    margin-left: 20px;
                }
                h3 {
                    font-size: 26px;
                    margin-bottom: 10px;
                    color: white;
                    text-shadow: 1px 1px 2px black;
                    @include mobile {
                        font-size: 22px;
                    }
                }
                p {
                    text-align: center;
                    font-family: 'Source Sans Pro', sans-serif;
                    font-size: 18px;
                    color: white;
                    @include mobile {
                        text-align: start;
                        font-size: 16px;
                        width: 180px;
                    }
                }
            }
            &__button {
               display: flex;
               flex-direction: column;
               height: 120px;
               justify-content: space-around;
               @include mobile {
                height: 100px;
                margin-right: 20px;
               }
               button {
                padding: 10px 15px 10px 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                border: none;
                outline: none;
                border-radius: 5px;
                font-size: 18px;
                font-family: 'Source Sans Pro', sans-serif;
                transition: 0.3s;
                @include mobile {
                    padding: 5px 12px 5px 12px;
                    font-size: 16px;
                }
                &:hover {
                    transform: scale(1.03);
                    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
                }
               }
            }
        }
    }
 }

 .icon {
    font-size: 20px;
    color: $organce;
    &-1 {
        font-size: 20px;;
        color: red;
        margin-right: 10px;
    }
    &-2 {
        font-size: 15px;;
        color: red;
        margin-right: 10px;
    }
    &-3 {
        font-size: 20px;;
        color: red;
        margin-right: 10px;
        @include mobile {
            font-size: 15px;
        }
    }
 }
 .reverse-bg {
    background-image: linear-gradient(to left, rgb(176, 2, 176), $organce);
 }