$organce: #d86213;
$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px; 
$color-pick: rgba(225, 225, 225, 0.05);


@mixin mobile { @media (max-width: #{$mobile-width - 1px}) {     
    @content;   
   } 
}  
@mixin tablet { @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {       
    @content;   
  } 
 }  

 .footer {
    width: 100vw;
    height: 350px;
    background: rgba(0, 0, 0, 0.966);
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @include mobile {
        // height: 500px;
        margin-top: 20px;
    }
    @include tablet {
        // display: none;
    }
    &-container {
        width: 980px;
        height: fit-content;
        display: flex;
        @include mobile {
            width: 95vw;
            flex-direction: column;
        }
        @include tablet {
            width: 95vw;
        }
        &__info {
            width: 400px;
            height: 280px;
            // background: #ccc;
            display: flex;
            // justify-content: center;
            flex-direction: column;
            align-items: center;
            padding-top: 50px;
            font-family: 'Source Sans Pro', sans-serif;
            color: white;
            border-bottom: 2px solid white;
            @include mobile {
                height: 0px;
                width: 95vw;
                border: none;
                padding-top: 0px;
                h3{
                    font-size: 16px;
                }
                p {
                    font-size: 12px;
                }
            }
        }
        &__contact {
            width: calc(980px - 400px);
            height: 280px;
            display: flex;
            border-bottom: 2px solid white;
            @include mobile {
                width: 95vw;
                height: 220px;
                margin-top: 80px;
            }
        }
    }
    &__contact {
        width: 50%;
        height: inherit;
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        // align-items: center;
        padding-left: 120px;
        @include mobile {
            padding: 0px 0px 0px 0px;
        }
        @include tablet {
            padding-left: 0px;
        }
        &__header {
            color: white;
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 10px;
            @include mobile {
                font-size: 15px;
                margin-left: 40px;
            }
        }
        &__items {
            display: flex;
            align-items: center;
            @include mobile {
                margin-left: 40px;
            }
            p {
                font-size: 16px;
                font-family: 'Source Sans Pro', sans-serif;
                cursor: pointer;
                user-select: none;
                color: white;
                opacity: 0.8;
                transition: 0.2s;
                margin-bottom: 3px;
                &:hover {
                    opacity: 1;
                }
                @include mobile {
                    font-size: 14px;
                }
            }
        }
        &__page {
            @include tablet {
                margin-left: 60px;
            }
            &__links {
                color: white;
                font-size: 20px;
                font-weight: bold;
                margin-bottom: 10px;
                @include mobile{
                    font-size: 14px;
                    margin-left: 70px;
                }
                @include tablet {
                
                }
            }
            list-style: none;
            li {
                margin-bottom: 5px;
            }
            li>a {
                text-decoration: none;
                color: white;
                text-transform: uppercase;
                opacity: 0.8;
                transition: 0.2s;
                &:hover {
                    opacity: 1;
                }
                @include mobile {
                    font-size: 12px;
                    margin-left: 70px;
                }
            }
        }
    }
 }
 .icon-footer {
    font-size: 16px;
    margin-right: 10px;
    color: white;
    opacity: 0.8;

    &-1 {
        font-size: 20px;
        color: white;
        opacity: 0.8;
        margin-right: 6px;
    }
 }
.footer-back {
    &__content {
        p {
            user-select: none;
            color: white;
            margin-top: 12px;
            font-size: 12px;
            @include mobile {
                font-size: 10px;
            }
        }
    }
}